* {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul button {
    background-color: black;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: white;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECE7E4;
    height: 100vh;
}

.text-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 100px;
}

p {
    font-weight: 400;
}

.text-main p {
    margin: 0%;
}

.top-text {
    letter-spacing: 2px;
    font-size: 14px;
    color: #645C55;
}

#big-text {
    width: 400px;
    font-size: 64px;
    color: #1B1A1A;
    line-height: 70px;
}

.paragraph {
    width: 500px;
    color: #403E3B;
    font-size: 16px;
}

.expand {
    color: #1B1A1A;
    font-size: 16px;
    padding: 30px;
}

.main img {
    height: 100%;
    width: 46%;
}

.about {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 800px;
}

#small-text {
    font-size: 32px;
    color: #403E3B;
    padding-left: 150px;
    padding-top: 55px;
}

.profile {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.profile p {
    margin: 0%;
}

#mini-text {
    font-size: 17px;
    color: #1B1A1A;
}

#mini-text2 {
    font-size: 14px;
    color: #645C55;
}

.text-about {
    width: 490px;
    padding-top: 6%;
}

.frame {
    width: 100%;
}

.process {
    height: 550px;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;
}

.top-content p {
    margin: 0%;
}

#big-text2 {
    font-size: 39px;
    color: #1B1A1A;
}

.bottom-content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.text-process {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-size: 18px;
    color: #403E3B;
}

.text-cont {
    width: 290px;
    text-align: center;
    font-size: 15px;
    color: #645C55;
}

.bottom-content img {
    width: 110px;
    height: 100px;
    padding-bottom: 10px;
}

.text-process p {
    margin: 1%;
}

.clients {
    background-color: #403E3B;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-text2 {
    letter-spacing: 2px;
    font-size: 14px;
    color: #ECE7E4;
}

.small-text2 {
    font-size: 32px;
    color: #FFFFFF;
}

.paragraph2 {
    color: #ECE7E4;
    width: 450px;
    font-size: 15px;
    padding-top: 10px;
}

.text-clients p {
    margin: 0%;
}

.pic {
    padding-right: 140px;
}